*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ////////////////////////// */
.section1{
  display: flex;
}
ul{
  padding: 10px;
  background-color: black;
}
ul li{
  padding: 10px;
  margin-bottom: 20px;
  list-style: none;
  background-color: rgb(41, 41, 41);
  color: gray;
}
ul li a{
  padding: 30px;
  font-size: 40px;
  color: #fff;
  text-decoration: none;
}
ul li:hover{
  cursor: pointer;
  color: #000;
  background-color: beige;
}
ul li:hover a{
  color: #000;
}
.data{
  padding: 50px;
  background-color: rgb(113, 113, 94);
  color: #fff;
}
.price{
  margin-top: 50px;
}
.priceProduct{
  padding: 5px !important;
  font-size: 24px !important;
  background-color: darkgrey !important;
  
}
.price #totalPrice{
  font-size: 28px;
  margin-left: 20px;
  background-color: green;
}
